# --- Python (Lixo de código) ---
__pycache__/
*.py[cod]
*$py.class

# --- Ambientes Virtuais (Pastas pesadas que não se sobe) ---
venv/
env/
.env
.venv/

# --- Streamlit (Configurações locais) ---
.streamlit/secrets.toml

# --- Arquivos Temporários do Excel (Aquele ~$ que aparece quando abre) ---
~$*.xlsx
~$*.csv

# --- Lixo de Sistema Operacional ---
.DS_Store
Thumbs.db

# --- Logs e Erros ---
*.log
